#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_yacoin
#build/yacoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_yacoin)

DEB_INSTALL_EXAMPLES_yacoind += debian/examples/*
DEB_INSTALL_MANPAGES_yacoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix yacoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f yacoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake yacoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_yacoin
	src/test_yacoin

# Ensure wrapper is set executable
binary-post-install/yacoind:
	chmod +x $(cdbs_curdestdir)usr/bin/yacoind
binary-post-install/yacoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/yacoin-qt
