src/zccoind
build
debug
release
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
*.Debug
*.Release
#compilation and Qt preprocessor part
*.qm
Makefile
bitcoin-qt
ZcCoin-Qt.app
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
deps/
debug.log
peers.dat
